[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/jido/Saas%20web.com/.env
Type=Link
URL=file:///home/jido/Saas%20web.com/.env
Icon=text-plain
